In [2]:
    library(alr3)
    library(model)

In [4]:
X_1 <- c(17, 19, 19, 20, 20, 20, 20, 21, 21, 21 ,21, 25, 25, 27, 28, 30, 30)
X_2 <- c(42, 45, 45, 29, 29, 29, 29, 93, 93, 93, 93, 34, 34, 98, 9, 73, 73)
Y <- c(90, 71, 76, 63, 63, 80, 80, 80, 64, 82, 66, 75, 82, 99, 73, 67, 74)
data_F <- data.frame(X_1, X_2, Y)
data_F

   X_1 X_2 Y
1  17  42  90
2  19  45  71
3  19  45  76
4  20  29  63
5  20  29  63
6  20  29  80
7  20  29  80
8  21  93  80
9  21  93  64
10 21  93  82
11 21  93  66
12 25  34  75
13 25  34  82
14 27  98  99
15 28   9  73
16 30  73  67
17 30  73  74

In [11]:
regresion_2.7 <- lm(Y ~ X_1+X_2, data_F)
summary(regresion_2.7)

Call:
lm(formula = Y ~ X_1 + X_2, data = data_F)

Residuals:
     Min       1Q   Median       3Q      Max
-13.3764  -9.6597   0.3827   5.7693  21.2085

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept)  72.2462    14.9067   4.847 0.000259 ***
X_1           0.0286     0.6455   0.044 0.965279
X_2           0.0487     0.0876   0.556 0.586984
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 10.38 on 14 degrees of freedom
Multiple R-squared:  0.02267,	Adjusted R-squared:  -0.1169
F-statistic: 0.1624 on 2 and 14 DF,  p-value: 0.8517

Este modelo ta re weno xd.

In [10]:
coef(`regresion_2.7`)

(Intercept)         X_1         X_2
72.24619969  0.02860489  0.04870386

El modelo queda Y= 72.2462+0.0286*X_1+0.0487*X_2